<div id="app container">
  <nav class="navbar">
    <div class="col-md-6 col-md-offset-3">
      <search result="$ctrl.result"></search>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7">
      <div>
        <video-player video-details="$ctrl.videoDetails" video="$ctrl.currentVideo"></video-player>
      </div>
      <div>
      <video-list on-click="$ctrl.onClick" videos="$ctrl.videos"></video-list>
      </div>
    </div>
    <div class="col-md-5">
      <chatter-box chatter-box-messages="$ctrl.chatterBoxMessages">Chatterbox Goes here </chatter-box>
    </div>
  <div>
</div>
